@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #F8F8FB;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.animate-slide{
	  animation: slide-right 15s infinite linear; /*動畫名稱、一次動畫時間為幾秒、播放次數、播放方向*/
}
@keyframes slide-right {
  from {
    left: -20%;
  }
  to {
    left: 100%;
  }
}

.animate-color{
  background-image: linear-gradient(45deg,#5468FF , #00DCD1);
  background-size: 300%;
  animation: line-animation 4s infinite alternate;
}
@keyframes line-animation{
   0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
      